@font-face {
  font-family: 'iconfont';  /* project id 1608866 */
  src: url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.eot');
  src: url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.woff') format('woff'),
  url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1608866_y6vf2yvycbi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_aperture:before {
  content: "\e63a";
}

.icon_star:before {
  content: "\e623";
}

.icon_stared:before {
  content: "\e624";
}

.icon_iso:before {
  content: "\e70f";
}

.icon_time:before {
  content: "\e67b";
}

.icon_focus:before {
  content: "\e725";
}
